<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Prueba</title>
    </h:head>
    <style type="text/css">
        .ui-log {
            left: 500px;
            top: 250px;
        }
    </style>

    <h:body>

        <h:panelGrid columns="1" cellpadding="5">
            <p:commandButton value="Nuevo cliente" type="button" onclick="PF('dlg2').show();" />
        </h:panelGrid>

        <p:growl id="mensaje" autoUpdate="true" showDetail="true" life="3000"/>

        <p:dialog header="Nuevo Cliente" widgetVar="dlg2" modal="true" height="300">
            <h:form id="formNuevoCliente" prependId="false">
                <p:panelGrid columns="2" style="margin: 0 auto">
                    <p:outputLabel value="Tipo de identificación"/>
                    <p:selectOneMenu value="#{clienteBean.cliente.tipoidentificacion.idtipoidentificacion}"
                                     required="true" requiredMessage="Tipo de identificación obligatoria">
                        <f:selectItem id="tipodocumento" itemLabel="Seleccione el tipo de identificación"/>
                        <f:selectItems value="#{clienteBean.tipoidentificacion}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="Identificación"/>
                    <p:inputText placeholder="Identificación" value="#{clienteBean.cliente.identificacion}"
                                 required="true" requiredMessage="Identificación obligatoria"/>
                    <p:outputLabel value="Razón social"/>
                    <p:inputText placeholder="Razón social" value="#{clienteBean.cliente.razonsocial}"
                                 required="true" requiredMessage="Razón social obligatoria"/>
                    <p:outputLabel value="Fecha"/>
                    <p:calendar id="popup" value="#{clienteBean.cliente.fecharegistro}" 
                                required="true" requiredMessage="Fecha obligatoria"/>
                    <p:commandButton onclick="PF('dlg2').hide();" value="Guardar" actionListener="#{clienteBean.nuevoCliente()}"
                                     update=":formMostrarClientes:tablaMostrarClientes"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog header="Modificar Cliente" widgetVar="dlg3" modal="true" height="300">
            <h:form id="formModificarCliente">
                <p:panelGrid columns="2" style="margin: 0 auto">
                    <p:outputLabel value="Tipo de identificación"/>
                    <p:selectOneMenu value="#{clienteBean.cliente.tipoidentificacion.idtipoidentificacion}"
                                     required="true" requiredMessage="Tipo de identificación obligatoria">
                        <f:selectItem id="tipodocumento" itemLabel="Seleccione el tipo de identificación"/>
                        <f:selectItems value="#{clienteBean.tipoidentificacion}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="Identificación"/>
                    <p:inputText placeholder="Identificación" value="#{clienteBean.cliente.identificacion}"
                                 required="true" requiredMessage="Identificación obligatoria"/>
                    <p:outputLabel value="Razón social"/>
                    <p:inputText placeholder="Razón social" value="#{clienteBean.cliente.razonsocial}"
                                 required="true" requiredMessage="Razón social obligatoria"/>
                    <p:outputLabel value="Fecha"/>
                    <p:calendar id="popup" value="#{clienteBean.cliente.fecharegistro}" 
                                required="true" requiredMessage="Fecha obligatoria"/>
                    <p:commandButton onclick="PF('dlg3').hide();" value="Actualizar" actionListener="#{clienteBean.modificarCliente()}"
                                     update=":formMostrarClientes:tablaMostrarClientes"/>
                </p:panelGrid>
            </h:form>
        </p:dialog>

        <p:dialog header="Eliminar Cliente" widgetVar="dlg4" modal="true" height="50">
            <h:form id="formEliminarCliente">
                <h:outputText value="¿Desea eliminar este registro?" />
                <p:commandButton onclick="PF('dlg4').hide();" value="Si" actionListener="#{clienteBean.eliminarCliente()}"
                                 update=":formMostrarClientes:tablaMostrarClientes"/>
                <p:commandButton onclick="PF('dlg4').hide();" value="No"/>
            </h:form>
        </p:dialog>

        <!-- <p:log id="log" />  -->

        <h:form id="formMostrarClientes">
            <p:dataTable id="tablaMostrarClientes" var="cliente" value="#{clienteBean.clientes}"
                         emptyMessage="No hay clientes">
                <p:column headerText="Id Cliente">
                    <h:outputText value="#{cliente.idcliente}"/>
                </p:column>
                <p:column headerText="Tipo de documento">
                    <h:outputText value="#{cliente.tipoidentificacion.descripcion} (#{cliente.tipoidentificacion.abreviatura})"/>
                </p:column>
                <p:column headerText="Identificación">
                    <h:outputText value="#{cliente.identificacion}"/>
                </p:column>
                <p:column headerText="Fecha de registro">
                    <h:outputText value="#{cliente.fecharegistro}"/>
                </p:column>
                <p:column headerText="Razón social">
                    <h:outputText value="#{cliente.razonsocial}"/>
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Modificar" oncomplete="PF('dlg3').show();"
                                     update=":formModificarCliente">
                        <f:setPropertyActionListener target="#{clienteBean.cliente}" value="#{cliente}"/>
                    </p:commandButton>
                </p:column>
                <p:column headerText="">
                    <p:commandButton value="Eliminar" oncomplete="PF('dlg4').show();"
                                     update=":formEliminarCliente">
                        <f:setPropertyActionListener target="#{clienteBean.cliente}" value="#{cliente}"/>
                    </p:commandButton>
                </p:column>
            </p:dataTable>
        </h:form>

    </h:body>
</html>

